server:
  port: 1445
  datasource:
  servlet:
    context-path: /
#配置数据源
spring:
  datasource:
    druid:
      type: com.alibaba.druid.pool.DruidDataSource
      driverClassName: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://cdb-o742k9kc.bj.tencentcdb.com:10035/lxh?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false
      username: lxh
      password: lxh123456

      # 初始化配置
      initial-size: 3
      # 最小连接数
      min-idle: 3
      # 最大连接数
      max-active: 15
      # 获取连接超时时间
      max-wait: 5000
      # 连接有效性检测时间
      time-between-eviction-runs-millis: 90000
      # 最大空闲时间
      min-evictable-idle-time-millis: 1800000
      validation-query: SELECT 1 FROM DUAL
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      # 配置监控统计拦截的filters
#      filters: stat
#      stat-view-servlet:
#        url-pattern: /druid/*
#        reset-enable: false
#        allow: 127.0.0.1
#        deny: 192.168.31.253
#        login-username: root
#        login-password: 123
#      web-stat-filter:
#        url-pattern: /*
#        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*"

#mybatis-plus
mybatis-plus:
  global-config:
    db-config:
      id-type: auto
      field-strategy: not_empty
      column-underline: true
      logic-delete-value: 0
      logic-not-delete-value: 1
      db-type: mysql
    refresh: false
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

#是否开启 swagger-ui
swagger:
  enabled: true
  title: 武强接口管理API
  serverUrl: http://localhost:1445
  version: 2.0

